<html>
    <head>
        <title>Hello</title>
        <link rel="stylesheet" href="css/home.css" />
    </head>
    <body>
        <% if (name ===  "Alec" || name === 'alec') { %>
        <p>Hello student</p>
        <% } else { %>
        <p>Hello <%= name %></p>
        <% } %>

        <img src="/images/pokemon.jpeg" alt="miss img">
    </body>
</html>